:root{
    --neutral-color-font-regular: #606266;
    --primary-300: #409EFF;
    --primary-200: #66B1FF;
}

button {
    background-color: transparent;
    border-radius: 0;
    border: none;
    margin: 10px;
}

.btn {
    padding: 7px 10px;
    color: var(--neutral-color-font-regular);
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms;
    display: flex;
    align-items: center;
    gap: 2px;
}
.btn_lg{
    padding: 9px 20px;
}
.btn svg path{
    transition: all .3s;
}
.btn:hover{
    color: var(--primary-300);
}
.btn:hover svg path {
    stroke: var(--primary-300);
}

.btn:disabled{
    opacity: 0.5;
    pointer-events: none;
}
.btn.rounded{
    border-radius: 9999px;
}
.btn.btn_primary{
    background-color: var(--primary-300);
    color: white;
}

.btn.btn_primary:hover{
    background-color: var(--primary-200);
}

.btn.btn_primary svg path {
    stroke: white;
}
